
body{
    background-color:lightgray
    
}
body{
    font-family: Arial, Helvetica, sans-serif
}
.authors{
    margin: 30px;
    color:darkslategrey
}
h1{
    color:darkblue;
    padding:30px
}

h2{
    color:darkblue;
    padding:30px
}
#bottomlinks{
    margin:auto
}

.mugshots{
    padding:41px
}
div{
    margin:auto
}
h3{
    padding:41px
}

p{
    padding: 30px
}

p{
    color:darkslategrey
}
figcaption{
    font-size: 25px;
    text-align: center
  }
footer{
    color:darkred;
    text-align: center;
    background-color: #9AB1FF
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }




body{
    background-color:lightgray
}


h1{
    color:darkblue
}

h2{color:darkblue}


h3{}



p{
    color:darkslategrey
}





